project:
  type: website
  output-dir: docs

website:
  title: "Data Acquisition blog"
  description: "A quick example of webscraping and data cleaning"
  
  navbar:
    background: primary
    left:
      - text: "Home"
        href: blog.qmd
        
format:
  html:
    theme: cosmo
    toc: true
    code-fold: true
    code-tools: true
    css: styles.css